@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700');

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.left {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  
  z-index: 1;
}

.middle {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
  animation-delay: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  
  z-index: 1;
}

.right {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
  animation-delay: 4s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  
  z-index: 1;
}

.photo {
	text-align: center;
	
	z-index: 1;
}

.birthdaytext {
	font-family: Hind;
	margin-left: 20px;
	font-size: 1.5 rem;
	
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  
  animation-delay: 6s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  
  z-index: 1;
}

#birthdaygif {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  
  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: inherit;
  animation-fill-mode: forwards;
  
  animation-delay: 8s;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  animation-duration: 15s;
	
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	z-index: 0;	
}

h1 {
	line-height: 30px;
	font-family: Helvetica, sans-serif;
	color: #330000;
	text-align: center;
	font-weight: 200;
	font-size: 20px;
	line-height: 0.5;
	
	z-index: 1;
}

h2 {
	font-family: Helvetica, sans-serif;
	color: #990000;
	text-align: center;
	font-weight: 400;
	font-size: 40px;
	line-height: 0.3;
	
	z-index: 1;
}

h3 {
	font-family: Helvetica, sans-serif;
	color: #ff0000;
	text-align: center;
	font-weight: 900;
	font-size: 65px;
	line-height: 0.01;
	z-index: 1;
}

.sign {
	display: flex;
	margin-top: 75px;
	z-index: 1;
}

h4 {
	display: flex;
	margin-top: auto;
	font-size: 35px;
	font-family: "Dancing Script";
	z-index: 1;
}

.foot {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1rem;
	font-family: Hind;
	z-index: 1;
}
