@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
}

.wrapper {
	position: relative;
	width: 100%;
	padding: 60px;
}

.header {
	position: absolute;
}

.timeline {
	display: flex;
}
.timeline__block {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: calc(100vh - 120px);
	border-bottom: 10px solid #cccccc;
}

.timeline__tick {
	width: 20vw;
	border-left: 10px solid #cccccc;
}

.timeline__tick--major {
	height: 10vh;
}

.timeline__tick--minor {
	height: 4vh;
}

.timeline__tick--first {
	height: 20vh;
}

.timeline__tick--final {
	height: 20vh;
	width: 0 !important;
	padding-right: 60px;
}

h1 {
	color: #222222;
	font-weight: 800;
	font-size: 100px;
	margin: 0;
	padding: 0;
	line-height: 1;
	letter-spacing: -0.05em;
}

h2 {
	color: #ff0000;
	font-size: 50px;
	padding-top: 3vh;
	margin-bottom: 5vh;
	line-height: 1;
}

.countdown {

}

.countdown__value {

}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1rem;
	color: #000000;
}
